@font-face {
    font-family: 'Bestlady'; 
    src: url("/font/BESTLADY.otf") format("opentype");
    font-style: normal;
}

h1{
    font-family: 'raleway', black;
  }

h2{
    font: 'raleway', black;
    font-style: italic;
    font-size: 24px; 
}

h4{
    font-family: 'raleway',
  }




.wrapper {
    display: grid;
    height: 100%;
    place-items: center
}
  




.pp{
    transform: 
        perspective(1000px)
        rotateX(4deg)
        rotateY(-1deg)
        rotateZ(1deg);
}



.radius{
    border-bottom-right-radius: 600px 90px;
}

.radiusArticle{
    border-bottom-right-radius: 600px 90px;
}

.verticalResp{
    height: 90vh;
}




/* c'est l'heure du BEFORE pour votre plaisir */

.with-letters-background h1::before {
    position:absolute;
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    z-index:-1;
}

.blog ::before {
    position: absolute;
    font-family: 'Bestlady';
    opacity: 0.05;
    text-align: center;
    content: "Blog";
    font-size: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.dossier h1::before{
    content:"Dossier";
    font-size: 230px;
    opacity: 0.1;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.service ::before{
    position:absolute;
    font-family: 'Bestlady'; 
    opacity: 0.1;
    z-index:-1;
    content:"Service";
    
    font-size:210px;
    align-items: center;
    
    margin-left: -5vh;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.social h1::before{
    content:"Social";
    font-size: 200px;
    z-index:-1;
    align-items: center;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}

.projet ::before{
    position:absolute;
    content:"Projet";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    font-size: 198px;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
}

.tldr ::before{
    position:absolute;
    content:"TL;DR";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 200px;
    margin-left:-5vh;
    margin-right: auto;
    left: 0;
    right: 0;
}



/*  PARTIE Image pour article*/

.image {
    background: url(https://source.unsplash.com/random/auto/?japan) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:-1;
}


.image2{
    display: grid;
    place-items: center;
}
