@font-face {
    font-family: 'Bestlady'; 
    src: url("/src/font/BESTLADY.otf") format("opentype");
    font-style: normal;
}


.wrapper {
    display: grid;
    height: 100%;
    place-items: center
}

.pp{
    transform: 
        perspective(1000px)
        rotateX(4deg)
        rotateY(-1deg)
        rotateZ(1deg);
}


.image2{
    display: grid;
    place-items: center
}



header section .radius{
    border-radius: 0% 0% 20% 0%;
}

.blog ::before{
    position:absolute;
    content:"Blog";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 300px;

}

.dossier ::before{
    position:absolute;
    content:"Dossier";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 250px;
    margin-left:-10%;
}

.service ::before{
    position:absolute;
    content:"Service";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 250px;
    margin-left:-10%;
}

.social ::before{
    position:absolute;
    content:"Social";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 198px;
    margin-left:-10%;
    
}

.projet ::before{
    position:absolute;
    content:"Projet";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 198px;
    margin-left:-10%;
    
}

.tldr ::before{
    position:absolute;
    content:"TL;DR";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 198px;
    margin-left:-10%;
}

.image {
    background: url(https://source.unsplash.com/random/auto/?japan) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0% 0% 20% 0%;
}


