@font-face {
    font-family: 'Bestlady'; 
    src: url("/src/font/BESTLADY.otf") format("opentype");
    font-style: normal;
}


.wrapper {
    display: grid;
    height: 100%;
    place-items: center
}

.pp{
    transform: 
        perspective(950px)
        rotateX(4deg)
        rotateY(-5deg)
        rotateZ(1deg)
}