@font-face {
    font-family: 'Bestlady'; 
    src: url("/src/font/BESTLADY.otf") format("opentype");
    font-style: normal;
}


.wrapper {
    display: grid;
    height: 100%;
    place-items: center
}

.pp{
    transform: 
        perspective(1000px)
        rotateX(4deg)
        rotateY(-1deg)
        rotateZ(1deg);
}


.image2{
    display: grid;
    place-items: center
}



header section .radius{
    border-radius: 0% 0% 20% 0%;
}

.with-letters-background h1::before {
    position:absolute;
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    z-index:-1;
}

.blog ::before{
    position:absolute;
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    content:"Blog";
    font-size: 300px;
}

.dossier h1::before{
    content:"Dossier";
    font-size: 250px;
    margin-left:-10%;
}

.service ::before{
    position:absolute;
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    z-index:-1;
    content:"Service";
    margin-left:-5%;
    font-size:300px
}

.social h1::before{
    content:"Social";
    text-align: center;
    font-size: 198px;
    z-index:-1;
   
}

.projet ::before{
    position:absolute;
    content:"Projet";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 198px;
    margin-left:-10%;
    
}

.tldr ::before{
    position:absolute;
    content:"TL;DR";
    font-family: 'Bestlady'; 
    opacity: 0.1;
    text-align: center;
    font-size: 130px;
    margin-left:-10%;
}

.image {
    background: url(https://source.unsplash.com/random/auto/?japan) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0% 0% 20% 0%;
    z-index:-1;
}


